body{
    background-color: aquamarine;
}
h1{
    text-align: center;
    color: black;
}
#divboton{
    padding: 15px 15px 15px 15px;
    text-align: center;
}
#divboton2{
    padding-top: 5px;
    text-align: center;
}
#boton{
    text-align: center;
}

@media (min-width: 768px){
    #divboton{
        padding-top: 25px;
        text-align: center;
    }
    #divboton2{
        padding-top: 1px;
        text-align: center;
    }
}